<!DOCTYPE html>
<html>

<head>
    <title>My Projects</title>
</head>

<body>

    <h1>My Projects</h1>

    <a href="{% url 'students:add_project' %}">
        Add Project
    </a>

    <hr>

    {% if projects %}

    <ul>

        {% for project in projects %}

        <li>

            <h3>{{ project.title }}</h3>

            <p>{{ project.description }}</p>

            <p><b>Technology:</b> {{ project.technology }}</p>

            <p>
                <a href="{{ project.github_link }}" target="_blank">
                    GitHub Repository
                </a>
            </p>

            <a href="{% url 'students:edit_project' project.id %}">
                Edit
            </a>

            <a href="{% url 'students:delete_project' project.id %}">
                Delete
            </a>

        </li>

        <hr>

        {% endfor %}

    </ul>

    {% else %}

    <p>No Projects Added.</p>

    {% endif %}

</body>

</html>