{% extends "base.html" %}

{% block title %}
Applicants
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        Job Applications
    </h2>

    {% if applications %}

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>Student</th>
                <th>Job</th>
                <th>Company</th>
                <th>Status</th>
                <th>Applied On</th>
                <th>Action</th>

            </tr>

        </thead>

        <tbody>

        {% for application in applications %}

            <tr>

                <td>
                    {{ application.student.user.username }}
                </td>

                <td>
                    {{ application.job.job_title }}
                </td>

                <td>
                    {{ application.job.company.company_name }}
                </td>

                <td>

                    <span class="badge bg-info">

                        {{ application.status }}

                    </span>

                </td>

                <td>

                    {{ application.applied_at|date:"d M Y" }}

                </td>

                <td>

                    <a href="{% url 'applications:application_detail' application.id %}"
                       class="btn btn-sm btn-primary">

                        View

                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

        <div class="alert alert-warning">

            No applications received yet.

        </div>

    {% endif %}

</div>

{% endblock %}